<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img src="/images/logo.png" alt="">
                    <h2></h2>
                    <p></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class=></i>
                    <h2 class="footernombres">Francisco Taylor, Genaro Gandolfo y Tomas Jarsum</h2>
                    <p></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img src="/images/socials.png" alt="">
                </article>
        </div>
    </div>
</footer>