<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	
	<%- include('./partials/head')  %> 

</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')  %> 
	

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresá</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="login.ejs" method="POST" class="formulario"> 
				
				<div class="NombreYApellido">
					<input type="text" class="form-control" placeholder="Email" name="Apellido" id="Apellido">
				</div>
				<div>
					<input type="text" class="form-control" placeholder="Contraseña" name="Nombre" id="Nombre">
				</div>
				
				<div>
					<script>
						function alerta(){
							alert("¡Felicidades, te has registrado!");
						}
					</script>
					<a href="/" class="boton">
						<input class="btn btn btn-info" type="button" onclick="alerta()" value="ingresa">
					</a>
				</div>
				<div class="form-group col-8 offset-2">
					<input type="checkbox"><label class="checkbox-inline">Recordame</label>
				</div>

			</form>
	</div>
</div>


			<%- include('./partials/footer')  %> 

	<!-- /footer -->
</body>

</html>