<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>

</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="login.ejs" method="POST" class="formulario"> 
				
				<div class="NombreYApellido">
					<input type="text" class="form-control" placeholder="Marca y Modelo" name="mym" id="mym">
				</div>
				<div>
					<input type="text" class="form-control" placeholder="Precio" name="precio" id="precio">
				</div>
				<div>
					<input type="email" class="form-control" placeholder="Descripción" name="descripcion" id="descripcion">
				</div>
				
				<div>
					<script>
						function alerta(){
							alert("Has agregado tu producto");
						}
					</script>
					<a href="/" class="boton">
						<input class="btn btn btn-info" type="button" onclick="alerta()" value="Agregar Producto">
					</a>
				</div>

			</form>
		</div>	
	</div>	
	<!-- footer -->
	<%- include('./partials/footer') %>

	<!-- /footer -->
</body>

</html>