<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head')  %> 
</head>
<body>
	<!-- Header -->
	<%- include('./partials/header')  %> 
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/gg.png" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">Genaro Gandolfo
						<a href="/users/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>100 productos</li>
						<li>250 seguidores</li>
						<li>50 likes</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/mair.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>MacBook Air</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/dellxps.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Dell Notebook XPS 3</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/alien.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Dell Alienware</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/hppav.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>HP Pavilion</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/acer3.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Acer Aspire 3</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/chromebook.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Acer Chromebook Spin 713</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/chuwihero.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chuwi Herobook Pro</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../compusImg/lenthink.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Lenovo Thinkpad</h2>
							<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>